body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    row-gap: 5px;
    align-content: space-evenly;
}


.hero, .footer {
    background-color: #1f2937;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
ul {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}
 .logo {
    display: flex;
    justify-content: space-evenly;  
    align-items: center; 
    margin-right: auto;
 }

 ul {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin-left: auto;
 }
 .hero {
    align-items: flex-start;
    padding: 20px;
    
}
h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}
p {
    font-size: 18px;
    color: #e5e7eb;
}
 .sect2 {
    display: flex;
    gap: 10px;
    justify-content: center;
 }

 button, .signup {
    background-color: #3882f6;
 }

 .content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
 }
 .info {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 .text
 {
    text-align: justify;
    text-align-last: center;
 }

 .quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    background-color: #e5e7eb;
    padding: 100px;
    margin: 0;
 }

 figcaption {
font-weight: bold;
text-align: right;
margin-right: 70px;
 }

 .signup {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 50px;
    margin: 200px;
    border-radius: 12px;
 }
 
 .text2 {
    font-size: 24px;
    color: #f9faf8;
}

.text3 {
    font-size: 18px;
    color: #f9faf8;
}

.btn1 {
    margin-bottom: 15px;
    color: #f9faf8;
    border-radius: 12px;
    padding: 7px 15px;
    font-size: 15px;    
}

.btn2 {
    align-self: flex-end;
    border: 2px solid white;
    color: #f9faf8;
    border-radius: 12px;
    padding: 7px 15px;
    font-size: 15px;
}

.footer {
    justify-content: center;
    text-align: center;
    color: #f9faf8;
    padding: 70px;
}

